# File system
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency modules
node_modules/

# Build outputs
dist/
out/

# Temporary TypeScript files
*.tsbuildinfo

# Environment files
.env
.env.local
.env.*.local

# IDE files
.vscode/
.idea/
*.iml
.vs/

# Debugger files
*.swp
*.swo
*.bak
*.tmp

# System and other files
*.pid
*.seed
*.pid.lock

# Created by npm/yarn/pnpm
package-lock.json
yarn.lock
pnpm-lock.yaml
.npm/

# Files related to ccache or compiler cache
.cache/
.cache-loader/

# Test coverage reports
coverage/
